@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #011d02;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(6%2c 66%2c 5%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c359.203C68.249%2c362.193%2c134.719%2c335.917%2c190.955%2c297.132C246.055%2c259.13%2c280.425%2c201.38%2c313.338%2c143.097C349.079%2c79.807%2c400.935%2c15.786%2c390.453%2c-56.139C379.973%2c-128.048%2c314.137%2c-176.894%2c259.691%2c-225.023C211.085%2c-267.989%2c154.662%2c-296.83%2c93.548%2c-318.596C29.152%2c-341.531%2c-36.248%2c-362.741%2c-104.119%2c-354.597C-179.804%2c-345.516%2c-263.366%2c-329.029%2c-311.581%2c-269.986C-359.587%2c-211.199%2c-351.338%2c-126.548%2c-352.319%2c-50.656C-353.192%2c16.898%2c-348.028%2c84.76%2c-316.94%2c144.742C-286.767%2c202.958%2c-234.805%2c244.114%2c-180.498%2c280.861C-125.053%2c318.378%2c-66.881%2c356.273%2c0%2c359.203' fill='%23042b03'%3e%3c/path%3e%3cpath d='M1440 946.0409999999999C1510.994 927.115 1581.476 915.793 1645.566 879.867 1713.066 842.029 1778.467 798.919 1819.496 733.31 1863.951 662.222 1890.537 579.626 1885.6689999999999 495.923 1880.565 408.169 1840.586 328.305 1791.693 255.25599999999997 1737.454 174.22000000000003 1684.59 71.78300000000002 1588.974 52.64299999999997 1493.099 33.45100000000002 1409.374 115.66199999999998 1322.968 161.42700000000002 1253.334 198.30900000000003 1192.1109999999999 241.846 1133.12 294.087 1065.209 354.227 970.803 401.087 952.108 489.852 933.329 579.016 1006.294 658.12 1038.499 743.359 1073.463 835.898 1061.126 967.546 1149.436 1012.126 1239.939 1057.813 1342.04 972.155 1440 946.0409999999999' fill='%23085907'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
  margin-top: 11%;
}

h1:hover {
  color: #032e04;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
}

.Wrapper {
  background: #026d0b;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 7px;
}

.Form {
  width: 100%;
  margin-bottom: 1.1rem;
}

.todo-input {
  padding: 0.6rem 0.9rem;
  margin-top: 1.1rem;
  background: none;
  border: 2px solid #1bc715;
  border-radius: 9px;
  margin-bottom: 2.1rem;
  width: 650px;
  color: #fff;
  outline: none;
  animation: glow 5s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 5px 0px;
  }
  35% {
    box-shadow: 0px 0px 10px 0px;
  }
  65% {
    box-shadow: 0px 0px 10px 0px;
  }
  100% {
    box-shadow: 0px 0px 5px 0px;
  }
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #02840d;
  color: #fff;
  border: none;
  padding: 0.52rem;
  cursor: pointer;
  border-radius: 20px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03820e;
  color: #fff;
  padding: 0.7rem 1.1rem;
  border-radius: 7px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.7rem;
}

.completed {
  color: #636963;
  text-decoration: line-through;
}